extends layout

block content
  h1 Ветка #{branch}
  div.breadcrumbs
    a.breadcrumbs__link(href='/') branches
    a.breadcrumbs__link(href=`/branch/${branch}`) branch "#{branch}"
  ul
  each commit, index in commits
    li
      a(href=`/tree/${encodeURIComponent(branch)}/${commit.hash}`) #{commit.message} by #{commit.author} (#{commit.date})
