extends layout

block content
  h1 Branch #{branch}
  div.breadcrumbs
    a.breadcrumbs__link(href='/') branches
    span.breadcrumbs__arrow →
    a.breadcrumbs__link(href=`/branch/${branch}`) branch "#{branch}"
  ul
  each commit, index in commits
    li
      a(href=`/tree/${branch}/${commit.hash}/path`) #{commit.message} by #{commit.author} (#{commit.date})
